[data-loadmore],
.loading-button {
	display: inline-flex;
	align-items: center;
	padding-top: .5em;
	padding-bottom: .5em;
	height: rem-calc(41px);
	span:not(.text) {
		padding-left: 0.9em;
	}
	.loading {
		display: none;
		i {
			animation: spin 1s linear infinite;
			display: block;
		}
	}
	&.is-loading {
		opacity: .7;
		pointer-events: none;
		.loading {
			display: block;
		}
	}
}


@keyframes spin {
	from {transform: rotate(0)}
	to {transform: rotate(360deg)}
}
